<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h2>Karina Patel</h2>
    <h2>UTA ID - 1001960022 </h2>
    <form action="/query1" method="POST">
        Search the bar graph for mag range:<br>
        <input type="submit" name = "Search" value ="Search"/>
    </form>
    <form action="/query2" method="POST">
        Enter the number to see earthquakes that occurred with a magnitude greater than:<br>
        <input type="text" name = "mag"/>
        <input type="submit" name = "Search" value ="Search"/>
    </form>
    <form action="/query3" method="POST">
        See a scatter plot of recent 100 mag's depth<br>
        <input type="submit" name = "Search" value ="Search"/>
    </form>
    <form action="/query4" method="POST">
        Enter the number to see earthquakes that occurred with a magnitude greater than at night:<br>
        <input type="text" name = "mag"/>
        <input type="submit" name = "Search" value ="Search"/>
    </form>
    <form action="/query5" method="POST">
        Enter the range to see the number of earthqakes country wise:<br>
        <input type="text" name = "r1"/>
        <input type="text" name = "r2"/>
        <input type="submit" name = "Search" value ="Search"/>
    </form>
</body>
</html>